.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeImgContainer {
  background-color: black;
  position: absolute;
}

.homeImgContainer > img {
  display: block;
  width: 80%;
  aspect-ratio: 40/13;
  margin-left: auto;
  margin-right: auto;
}

.homeTitle {
  width: 1024px;
  font-size: 25px;
}
